# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
myenv/
venv/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage
.pytest_cache/
.mypy_cache/
.pytype/
.coverage
coverage.xml
htmlcov/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# SQLite
*.sqlite3

# Logs
*.log

# Docker
docker-compose.override.yml

